<div class="bar-group">
  {{#link-to 'index' class="bar-link project"}}ember-cli-nouislider{{/link-to}}
  {{#link-to 'component' class="bar-link"}}Base Component{{/link-to}}
  {{#link-to 'options' class="bar-link"}}Options{{/link-to}}
	<a class="bar-link project" href="http://refreshless.com/nouislider/?utm_source=ember-cli-nouislider&utm_medium=web" target="_blank">Powered by noUiSlider</a>
  {{#link-to 'download' class="bar-link download"}}Download{{/link-to}}
</div>
