{{ partial "navigation" }}

<div class="content">
  <h1>Create your component</h1>
  <section>
    <div class="double">
      <p>
        Ensure you've already {{#link-to "download"}}downloaded &amp; installed{{/link-to}}
        the addon
      </p>
    </div>
  </section>

  <a href="#section-render" id="section-render" class="sect">ยง</a>
  <h2>Render</h2>
  <section>
    <div class="view">
      <p>Render your range-slider where you need it</p>
    </div>
    <div class="side">
      {{!-- template-lint-disable  --}}
      {{#source-code language="handlebars"}}
\{{! some template }}
\{{range-slider start=someValue on-change="changedAction"}}
      {{/source-code}}
    </div>
  </section>

  <a href="#section-action" id="section-action" class="sect">ยง</a>
  <h2>Action</h2>
  <section>
    <div class="view">
      <p>
        Setup an action handler in your route to catch
        any changes to the slider values.
      </p>
    </div>
    <div class="side">
      {{!-- template-lint-disable  --}}
      {{#source-code language="javascript"}}
// app/routes/my-route.js
import Ember from 'ember';

export default Ember.Route.extend({
  // ...
  actions: {
    // ...
    changedAction: function(value) {
      Ember.debug( "New slider value: %@".fmt( value ) );
    }
  }
});
      {{/source-code}}
    </div>
  </section>

  <h2>Next</h2>
  <section>
    <div class="double">
      <p>Review the {{#link-to "options"}}available options{{/link-to}}...</p>
    </div>
  </section>
</div>
