{{ partial "navigation" }}

<div class="content">
  <h1>Download &amp; Install ember-cli-nouislider</h1>

  <h2>ember-cli</h2>
  <section>
    <div class="view">
      <p>The code is shipped as an ember-cli addon:</p>

      <pre>
$ ember install:addon ember-cli-nouislider
      </pre>

      <p>
        Then continue checking out the documentation to create
        your own base {{#link-to "component"}}<em>range-slider</em>{{/link-to}} component.
      </p>
    </div>
    <div class="side"></div>
  </section>

  <h2>Repository</h2>
  <section>
    <div class="view">
      You could visit the repository on
      <a href="https://github.com/kennethkalmer/ember-cli-nouislider">GitHub</a>
      to browse around, and to log issues. Also feel free
      to get in touch via <a href="https://twitter.com/kennethkalmer">@kennethkalmer</a>
      if you need some help.
    </div>
    <div class="side"></div>
  </section>
</div>
