<div class="hi">
  <h1>&lt;range-slider&gt;</h1>
  <h2>$.noUiSlider (jQuery-only) Range Slider Component for Ember.js</h2>

  <div class="quick">
    {{range-slider start=value min=0 max=100 connect=true}}

    {{#source-code}}
\{{range-slider start=value
               min=0
               max=100
               connect=true
}}
    {{/source-code}}

    {{#link-to 'download' class="hi-dl"}}Download ember-cli-nouislider{{/link-to}}
  </div>
</div>

{{ partial "navigation" }}
